* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.8) 60%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
}

.vbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.vbackground::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* how strong the fade should be */
    pointer-events: none;

    /* background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 1) 70% ,
            rgba(0, 0, 0, 1) 100%); */

    z-index: 0;
}

.content {
    color: white;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    text-align: center;
    margin: 162px 170px -272px auto;
    padding-top: 140px;
}

.content h1 {
    font-size: 70px;
    font-weight: 500;
}

.content h2 {
    font-size: 18.5px;
    font-weight: 500;
    padding: 0px 0px 10px;
}

.content h3 {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    width: 643px;
    color: white;
    opacity: 0.8;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 30px 320px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.834);
}

.mainnav li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.mainnav li:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px 36px;
    margin: 150px 310px;
    grid-template-areas: "box1 box1 box1 box1 box1 box1 box2 box2 box2 box2 box2 box2"
        "box3 box3 box3 box3 box4 box4 box4 box4 box4 box4 box4 box4";
}

.backgroundimage {
    position: relative;

    width: 145%;
    height: auto;
    border-radius: 10px;
    left: -140px;
    bottom: 90px;
}

.card {
    background-color: #121212;
    border-radius: 25px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    overflow: hidden;
    height: 72vh;

}

.write {
    font-size: ;
    padding: 50px 0px 0px 0px;
    gap: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.write h2 {
    font-size: 39px;
    font-weight: 600;
    padding: 0px 0px 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.btn button:first-child {
    position: relative;
    z-index: 20;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
    background-color: #262626;
    color: white;
    font-weight: 550;
}

.btn button:nth-child(2) {
    position: relative;
    z-index: 20;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
    background-color: #0076ff;
    color: white;
    font-weight: 550;
}

.price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.6;
    color: white;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    z-index: 20;
    padding: 20px 0px 8px;
    display: flex;
    justify-content: center;
}

#prosvg {
    width: 95px;
    margin: 0px 31px 8px;
}

#prosvg1 {
    width: 165px;
    padding: 0px 0px 10px;
}

.backgroundimage3 {
    width: 86%;
    left: 38px;
    bottom: 0px;
    top: 48px;
    position: relative;
}

.btn1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 46px 0px 46px;
}

.btn1 button:first-child {
    position: relative;
    z-index: 20;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
    background-color: #262626;
    color: white;
    font-weight: 550;
}

.btn1 button:nth-child(2) {
    position: relative;
    z-index: 20;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
    background-color: #0076ff;
    color: white;
    font-weight: 550;
}

.write1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 35px 46px 0px 46px;
    font-size: 28px;

}

.write1 h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
}

.price1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.6;
    color: white;
    font-weight: 100;
    font-size: 15px;
    position: relative;
    z-index: 20;
    padding: 20px 0px 8px;
    display: flex;
    justify-content: center;
    left: -102px;
}

.backgroundimage4 {
    position: relative;
    width: 115%;
    height: auto;
    border-radius: 10px;
    bottom: 120px;

}

.write2 {
    padding: 46px 0px 0px 46px;
    position: relative;
    z-index: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.write2 h2 {
    font-size: 40px;
    font-weight: 500;
    color: #101010;
}